.searchResults{
    width: 80%;
    margin-top: -112%;
    float:right;
}
.Link-person:hover{
    color: #ed6b26;
}
@media screen and (min-width:100px) and (max-width: 768px){
    .searchResults{
        width: 100%;
        margin-top: 0%;
    }
    .CompanyInfo{
       display: none;
    }
    .searchResults{
        margin-top: 20px;
    }
}